[submodule "lnschema-core"]
	path = sub/lnschema-core
	url = https://github.com/laminlabs/lnschema-core.git
[submodule "lndb-storage"]
	path = sub/lndb-storage
	url = https://github.com/laminlabs/lndb-storage.git
[submodule "lnschema-wetlab"]
	path = sub/lnbase-biolab
	url = https://github.com/laminlabs/lnschema-wetlab.git
