[submodule "lnschema-core"]
	path = sub/lnschema-core
	url = https://github.com/laminlabs/lnschema-core.git
[submodule "sub/lndb-setup"]
	path = sub/lamindb-setup
	url = https://github.com/laminlabs/lndb
[submodule "sub/lnschema-bionty"]
	path = sub/lnschema-bionty
	url = https://github.com/laminlabs/lnschema-bionty
[submodule "sub/lamin-cli"]
	path = sub/lamin-cli
	url = https://github.com/laminlabs/lamin-cli
