[submodule "sub/lamindb-setup"]
	path = sub/lamindb-setup
	url = https://github.com/laminlabs/lamindb-setup
[submodule "sub/lamin-cli"]
	path = sub/lamin-cli
	url = https://github.com/laminlabs/lamin-cli
[submodule "sub/bionty"]
	path = sub/bionty
	url = https://github.com/laminlabs/bionty
[submodule "sub/wetlab"]
	path = sub/wetlab
	url = https://github.com/laminlabs/wetlab
[submodule "sub/clinicore"]
	path = sub/clinicore
	url = https://github.com/laminlabs/clinicore
[submodule "sub/cellxgene-lamin"]
	path = sub/cellxgene-lamin
	url = https://github.com/laminlabs/cellxgene-lamin.git
