[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lamindb"
requires-python = ">=3.8"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
dependencies = [
    # Lamin PINNED packages
    # !!! These packages should ALWAYS be pinned, do not unpin !!!
    # !!! They cannot be pinned ANYWHERE else !!!
    "lnschema_core==0.45.2",
    "lamindb_setup==0.49.7",
    "lamin_utils==0.9.6",
    # Lamin GREATEREQ packages
    "erdiagram>=0.1.2",
    # others
    "rapidfuzz",
    "pydantic[dotenv]",  # move this to lamindb_setup
    "pyarrow",
    "typing_extensions!=4.6.0",
    "python-dateutil",
    "anndata>=0.9.1",  # includes scipy
    "fsspec",
    "pandas",
]

[project.urls]
Home = "https://github.com/laminlabs/lamindb"

[project.optional-dependencies]
bionty = [
    "lnschema_bionty==0.29.3",
]
postgres = ["psycopg2-binary"]
aws = [
    "botocore==1.29.76",  # for aiobotocore inside s3fs, to fix deps resolution
    "urllib3<2", # for botocore
    "boto3==1.26.76", # to avoid conflicts arising due to the pin on botocore
    "fsspec[s3]==2023.5.0"
]
gcp = [
    "fsspec[gs]==2023.5.0"
]
jupyter = [
    "nbproject==0.9.0"  # keep pinning
]
# deprecated extra, replaced by jupyter extra
nbproject = [
    "nbproject==0.9.0"
]
zarr = [
    "zarr>=2.16.0",
]
fcs = [
    "readfcs>=1.1.5",
]
dev = [
    # basic test
    "pre-commit",
    "nox",
    "laminci>=0.3",
    "pytest>=6.0",
    "coverage",
    "pytest-cov",
    # others
    "nbproject_test>=0.3.0",
    # biology
    "faker-biology",
    # view_parents
    "graphviz",
]

[project.scripts]
lamin = "lamindb_setup.__main__:main"

[tool.black]
preview = true
