[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lamindb"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
dependencies = [
    "anndata",
    "boto3",
    "hjson",
    "cloudpathlib",
    "loguru",
    "requests",
    "sqlmodel",
    "typeguard",
    "biogram",
    "nbproject>=0.1a3",
]

[project.urls]
Home = "https://github.com/laminlabs/lamindb"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "nox",
]
test = [
    "pytest>=6.0",
    "coverage",
    "pytest-cov",
    "nbmake",
    "scanpy",
    "scikit-learn>=1.1.1",
]

[project.scripts]
lamindb = "lamindb.__main__:main"

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
    "docs/guides",
    "docs/tutorial",
]
