[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lamindb"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
dependencies = [
    # Lamin pinned packages
    "lndb_setup==0.27.0",
    "lnschema_core==0.23.2",
    "lnschema_wetlab==0.13.0",
    "lnschema_bionty==0.6.2",
    "lnbfx==0.7.0",
    "bionty==0.5.7",
    "nbproject>=0.8.0",
    "readfcs",
    "lamin_logger",
    # External packages
    "anndata",
    "boto3",
    "hjson",
    "cloudpathlib",
    "loguru",
    "requests",
    "sqlmodel>=0.0.8",
    "typeguard",
    "tabulate",
    "erdiagram",
    "appdirs",
    "supabase",
    "python-dotenv",
    "fsspec",
    "s3fs",
    "gcsfs",
    "zarr",
]

[project.urls]
Home = "https://github.com/laminlabs/lamindb"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "nox",
]
test = [
    "pytest>=6.0",
    "coverage",
    "pytest-cov",
    "scanpy",
    "scikit-learn>=1.1.1",
    "nbproject_test>=0.3.0",
    "psycopg2-binary",
]

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
    "docs/faq",
    "docs/guide",
]

[tool.coverage.run]
omit = [
    "lamindb/*",
]
