[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lamindb"
requires-python = ">=3.8"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
dependencies = [
    # Lamin PINNED packages
    # !!! These packages should ALWAYS be pinned, do not unpin !!!
    # !!! They cannot be pinned ANYWHERE else !!!
    "lnschema_core==0.35.2",
    "lamindb_setup==0.47.1",
    # Lamin GREATEREQ packages
    "erdiagram>=0.1.2",
    # others
    "pydantic[dotenv]",  # move this to lamindb_setup
    "pyarrow",
    "typing_extensions!=4.6.0",
    "readfcs>=1.1.2", # to avoid installing nbproject
    "python-dateutil",
    "zarr",
    "anndata>=0.9.1",  # includes scipy
    "fsspec",
    "universal_pathlib",
    "pandas",
    "typeguard"
]

[project.urls]
Home = "https://github.com/laminlabs/lamindb"

[project.optional-dependencies]
aws = [
    "botocore==1.29.76",  # for aiobotocore inside s3fs, to fix deps resolution
    "boto3==1.26.76", # to avoid conflicts arising due to the pin on botocore
    "fsspec[s3]==2023.5.0"
]
gcp = [
    "fsspec[gs]==2023.5.0"
]
nbproject = [
    "nbproject>=0.8.7"
]
bionty = [
    "lnschema_bionty==0.21.0",
]
lamin1 = [
    "lnschema_lamin1==0.18a1",
]
test = [
    # basic test
    "pre-commit",
    "nox",
    "laminci>=0.3",
    "pytest>=6.0",
    "coverage",
    "pytest-cov",
    # others
    "psycopg2-binary",
    "nbproject>=0.8.7",
    "nbproject_test>=0.3.0",
]

[project.scripts]
lamin = "lamindb_setup.__main__:main"

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
    "docs/faq",
    "docs/guide",
]

[tool.coverage.run]
omit = [
    "lamindb/*",
]
