[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lamindb"
requires-python = ">=3.8"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
dependencies = [
    # Lamin PINNED packages
    # !!! These packages should ALWAYS be pinned, do not unpin !!!
    # !!! They cannot be pinned ANYWHERE else !!!
    "lnschema_core==0.32.0",
    "lndb_storage==0.2rc3",
    "lndb==0.41rc1",
    # Lamin GREATEREQ packages
    "nbproject>=0.8.4",
    # External packages
    "hjson",
    "tabulate",
    "erdiagram",
]

[project.urls]
Home = "https://github.com/laminlabs/lamindb"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "nox",
    "laminci>=0.2.5",
]
bionty = [
    "lnschema_bionty==0.14.0",
    "bionty>=0.11.3",
]
wetlab = [
    "lnschema_wetlab==0.15rc2",
]
test = [
    # Lamin pinned packages
    "lamindb[bionty]",
    "lamindb[wetlab]",
    "nbproject_test>=0.3.0",
    # External packages
    "pytest>=6.0",
    "coverage",
    "pytest-cov",
    "scanpy",
    "scikit-learn>=1.1.1",
    "psycopg2-binary",
    "matplotlib<3.7",
]

[project.scripts]
lamin = "lndb.__main__:main"

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
    "docs/faq",
    "docs/guide",
]

[tool.coverage.run]
omit = [
    "lamindb/*",
]
