[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lamindb"
authors = [{name = "Lamin Labs", email = "laminlabs@gmail.com"}]
readme = "README.md"
dynamic = ["version", "description"]
dependencies = [
    "lnschema_core==0.9.0",
    "lnschema_wetlab==0.5.0",
    "lnschema_bionty==0.4.3",
    "lndb_setup==0.9.4",
    "lndb_hub==0.5.6",
    "bioreadout==0.1.2",
    "lnbfx==0.4.2",
    "bionty>=0.3.1",
    "lamin_logger",
    "anndata",
    "boto3",
    "hjson",
    "cloudpathlib",
    "loguru",
    "requests",
    "sqlmodel>=0.0.8",
    "typeguard",
    "tabulate",
    "erdiagram",
    "appdirs",
    "supabase",
    "python-dotenv",
    "nbproject>=0.5.3",
    "readfcs",
]

[project.urls]
Home = "https://github.com/laminlabs/lamindb"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "nox",
]
test = [
    "pytest>=6.0",
    "coverage",
    "pytest-cov",
    "scanpy",
    "scikit-learn>=1.1.1",
    "nbproject_test>=0.3.0",
]

[tool.black]
preview = true

[tool.pytest.ini_options]
testpaths = [
    "tests",
    "docs/faq",
    "docs/guide",
]

[tool.coverage.run]
omit = [
    "lamindb/*",
]
