name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]
    timeout-minutes: 25

    steps:
      - name: Checkout main
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Checkout lndocs
        uses: actions/checkout@v3
        with:
          repository: laminlabs/lndocs
          ssh-key: ${{ secrets.READ_LNDOCS }}
          path: lndocs
          ref: main
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache
        uses: actions/cache@v3
        env:
          cache-name: cache-10
        with:
          path: |
            .nox
            ~/.cache/pre-commit
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('.pre-commit-config.yaml') }}-${{ hashFiles('pyproject.yaml') }}
      - name: Install pip, nox, graphviz, postgress
        run: |
          python -m pip install --upgrade pip
          pip install nox lndb_setup
          sudo apt-get -y install graphviz
          sudo apt-get install libpq-dev
      - name: Lint
        if: matrix.python-version == '3.9'
        run: |
          nox -s lint --python ${{ matrix.python-version }}
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - name: Build
        run: |
          nox -s build --python ${{ matrix.python-version }}
      - name: Read lamin-project.yaml
        id: lamin-project
        uses: CumulusDS/get-yaml-paths-action@v0.1.0
        with:
          file: lamin-project.yaml
          project_slug: project_slug
      - name: Change base URL to project-slug
        if: github.event_name == 'push'
        run: |
          mv _build/html/index.html _build/html/${{ steps.lamin-project.outputs.project_slug }}.html
          mv _build/html _build/html_tmp
          mkdir _build/html
          mv _build/html_tmp _build/html/docs
      - name: Deploy docs
        id: netlify
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: "_build/html"
          production-deploy: ${{ github.event_name == 'push' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-commit-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      - name: Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
