name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.ACCESS_TOKEN_ALEX }}
          fetch-depth: 0
      - name: Cache
        uses: actions/cache@v3
        env:
          cache-name: cache-all
        with:
          path: |
            .nox
            ~/.cache/pre-commit
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('docs/lamin_sphinx/requirements.txt') }}-${{ hashFiles('.pre-commit-config.yaml') }}-${{ hashFiles('pyproject.yaml') }}
      - name: Install pip and nox
        run: |
          python -m pip install --upgrade pip
          pip install nox
      - name: Lint
        run: |
          nox -s lint
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - name: Configure lamin
        run: |
          mkdir -p "$HOME/data"
          lamin configure --notion=${{ secrets.NOTION_API_KEY }} --storage "$HOME/data"
      - name: Build
        run: |
          nox -s build
      - name: Change base URL to project-slug # for Netlify URL prettification
        if: github.event_name == 'push'
        run: |
          mv _build/html _build/html_tmp
          mkdir _build/html
          mv _build/html_tmp _build/html/bionty
      - name: Deploy docs
        id: netlify
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: "_build/html"
          production-deploy: ${{ github.event_name == 'push' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          enable-commit-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
